{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial - iFound{% endblock %}

{% block content %}
    <!-- Banner de Busca -->
    <section class="hero">
        <h1>Perdeu algo no campus ❓</h1>
        <form action="{% url 'index' %}" method="GET" class="search-box">
            <input type="text" name="q" placeholder="" value="{{ request.GET.q }}">
            <button type="submit"><i class="bi bi-search"></i></button>
        </form>
    </section>

    <!-- Seção de Itens Recentes -->
    <main class="container">
        <h2>Itens recentes</h2>

        <div class="cards-grid">
            {% for item in itens %}
                <div class="card">
                    {% if item.imagem %}
                        <img src="{{ item.imagem.url }}" alt="{{ item.nome }}" class="card-img">
                    {% else %}
                        <div class="card-img">imagem do item</div>
                    {% endif %}
                    
                    <div class="card-title">{{ item.nome }}</div>
                    
                    <!-- Botão para Detalhar -->
                    <a href="{% url 'detalhar_item' item.id %}" class="btn">Detalhar</a>
                </div>
            {% empty %}
                <p>Nenhum item encontrado.</p>
            {% endfor %}
        </div>

        <!-- Botão Mais Itens -->
        <div class="more-items-container">
            <a href="{% url 'todos_itens' %}" class="btn">Mais itens</a>
        </div>
    </main>
{% endblock %}